:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlyWhite: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.img__desktop {
    display: none;
}

body {
    background-color: var(--VeryDarkBlue);
    width: 100%;
    padding: 80px 20px;

}

main {
    width: 100%;
    background-color: var(--DarkDesaturatedBlue);
    color: var(--White);
    border-radius: 10px;
    overflow: hidden;
}

.images {
    display: flex;
    overflow: hidden;
    background-color: var(--SoftViolet);
}

img {
    width: 100%;
    aspect-ratio: 654/480;
    mix-blend-mode: multiply;
    padding: 0;
}

.description {
    height: 100%;
    padding: 20px 30px;
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 2rem;
}

h1 span {
    font-size: 2rem;
    color: var(--SoftViolet);
}

p {
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.8 ;
    letter-spacing: 0.4px;
    color: var(--SlightlyWhite);
}

ul {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values {
    font-weight: 700;
    color: var(--White);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .8px;
}

.list__description {
    color: var(--SlightlyTransparentWhite);
    padding: 6px 0 20px 0;
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
@media (width > 720px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main{
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: row-reverse;
        
    }
    .img__desktop{
        display: block;
    }
    .img__mobile{
        display: none;
    }
    .images{
        width: 50%;
    }
    img{
        aspect-ratio: 540/446;
    }
    .description{
        width: 50%;
        padding: 40px 50px;
        text-align: left;
        padding-right: 120px;
    }
    ul{
        padding-top: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}